/*
div{
  border: 1px solid #000;
}
*/
body{
  height: 1000px;
  width: 100%;
  background-image: linear-gradient(#859398, #283048 );
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
ul{
  position: relative;
  top: -68px;
}
.logo-isael{
  position: absolute;
  top: 0px;
  left: 55px;
  width: 150px;
  height: 80px;
  filter: invert(100%);
}
.logo-isael:hover{
  filter: invert(0%);
}
.navbar{
  position: fixed;
  background-image: linear-gradient(#859398, #283048);
  height: 80px;
  width: 100%;
  border-radius: 0;
  top: 0;
  z-index: 4;
  padding-top: 90px;
  border: 1px solid rgba(255, 0, 0, 0.01);;
}
.navbar a{
  color: #000;
}
#top-isael-green{
  display: inline-block;
}
/* settings for the buttons that are green on top*/
.green-link-top a{
  display: inline-block;
  border-radius: 0;
}
.me-icon{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  float: right;
}
.links{
  margin-left: 90%;
}
/* settings for the info about me and the picture */
#main-background{
  background: #8C8C8C;
  margin-top: 65px;
}
#main-header{
  margin-top: 40px;
  float: left;
}
#margin-about-me{
  position: relative;
  background: rgba(119, 119, 119, 1);
  margin-top: -70px;
  margin-bottom: 40px;
  clear: both;
  width: 102.6%;
  margin-left: -15px;
  border-top: 1px solid rgba(119, 119, 119, 0.5);
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  color: #fff;
  text-align: center;
}
.info-about-me{
  margin-top: 80px;
}
#picture-about-me{
  border-radius: 50%;
}
.social-icon{
  padding: 5px 36px;
}
.navbar-default .navbar-nav > li > a {
  color:#fff;
  font-size: 18px;
}
.top-isael-bar{
  float: right;
  margin-right: 43px;
}
.top-isael-bar li:hover{
  background: #fff;
}
#main-picture{
  background: rgba(255, 255, 255, 0.01);;
}
#picture-size{
  position: sticky;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron{
  background: rgba(140, 140, 140, 1);
}
.jumbotron h1{
  color: #fff;
}
/* gallery settings css for the image background under the image, the button and color of the button, and borders */
.border-projects{
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.8);
}
.border-projects:hover{
  background: #f2f2f2;
}
.border-projects img{
  margin-top: 15px;
}
.border-projects a{

}
.border-projects a:hover{
  text-decoration: none;
  color: #f2f2f2;
}
.project-text-color{
  display: inline-block;
  background: rgba(40, 48, 72, 1);
  border: 1px solid rgba(119, 119, 119, 0.5);
  text-align: center;
  padding: 15px;
  margin-top: 5px;
  width: 100%;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.project-text-color:hover{
  background: rgba(40, 48, 72, .5);
}

.gallery{
  background: rgba(0, 0, 0, 0.01);;
  padding-bottom: 80px;
}
/* this is the contact me settings */
.contact-me-h1{
  border-bottom: 2px solid #fff;
}
.inputs-form-contact{
  margin-bottom: 15px;
}
.inputs-form-contact input{
  font-size: 42px;
  height: 50px;
  background: rgba(255, 0, 0, 0.01);
  width: 100%;
  color: #fff;
  outline: none;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
}
.inputs-form-contact input:focus{
  outline: none;
}
.inputs-form-contact textarea{
  width: 100%;
  background: rgba(255, 0, 0, 0.01);
  color: #fff;
  font-size: 22px;
  outline: none;
  border: 2px solid #fff;
}
.inputs-form-contact textarea:focus{
  outline: none;
}
.send-button{
  margin-top: 25px;
  margin-bottom: 100px;
}

.send-button a{
  color: #fff;
  background: rgba(40, 48, 72, 1);
  padding: 15px 40px;
  width: 40px;
  text-decoration: none;
}
.send-button a:hover{
  background: rgba(40, 48, 72, .5);;
}
.right-side-contact{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 60%;
  margin-bottom: 100px;
}
::-webkit-input-placeholder{
  color: #fff;
}
/* footer css settings*/
.footer{
  position: relative;
  height: 300px;
  bottom: 0;
  background: rgba(255, 0, 0, 0.01);;
  width: 100%;
}
#footer-2{
  background: rgba(40, 48, 72, 1);
  height: 80px;
  width: 103%;
  margin-left: -15px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}
#footer-2 p{
  display: inline-block;
  margin-top: 1.5%;
  font-size: 32px;
  color: #fff;
}
.footer-left{
  text-align: center;
}
.footer-right{
  text-align: center;
}
.footer-headers{
  border-bottom: 1px solid #fff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.footer-link{
  height: 50px;
}
/* spotify settings*/
.made-with-text{
  margin-top: 26px;
  display: inline-block;
  height: 80px;
}
.made-with-text h4{
  font-size: 32px;
}
#spotify-easter-egg:hover{
  color: rgba(133,147,152, 1);
}
/* this is the top part button*/
.top-green{
  display: inline-block;
  margin-left: 90px;
}
.top-green a{
  margin-left: 15px;
}
/* this is for the footer buttons and the css for top part buttons and footer */
.green-link a{
  display: inline-block;
  border: 1px solid rgba(119, 119, 119, .5);
  background: rgba(40, 48, 72 ,1);
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
}
.green-link a i{
  padding: 12px 14px;
}
.green-link a:hover{
  background: #f2f2f2;
}
.green-link a i:hover{
  color: #000;
}
.green-link-margin{
  height: 80px;
  margin-top: 35px;
}
